<?xml version="1.0"?>
<config>
    <modules>
        <Magendoo_Remember>
            <version>0.1.0</version>
        </Magendoo_Remember>
    </modules>
    <global>
        <helpers>
            <remember>
                <class>Magendoo_Remember_Helper</class>
            </remember>
        </helpers>
        <blocks>
            <remember>
                <class>Magendoo_Remember_Block</class>
            </remember>
        </blocks>
        <models>
            <remember>
                <class>Magendoo_Remember_Model</class>
                <resourceModel>remember_resource</resourceModel>
            </remember>
            <remember_resource>
                <class>Magendoo_Remember_Model_Resource</class>
                <entities>
                    <remember>
                        <table>magendoo_remember</table>
                    </remember>
                </entities>
            </remember_resource>
        </models>
        <resources>
            <magendoo_remember_setup>
                <setup>
                    <module>Magendoo_Remember</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magendoo_remember_setup>
            <remember_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </remember_write>
            <remember_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </remember_read>
        </resources>
        <events>
            <customer_login>
                <observers>
                    <customer_login_remember_handler>
                        <class>remember/observer</class>
                        <method>onLogin</method>
                    </customer_login_remember_handler>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <customer_logout_remember_handler>
                        <class>remember/observer</class>
                        <method>onLogout</method>
                    </customer_logout_remember_handler>
                </observers>
            </customer_logout>
            <controller_action_predispatch>
                <observers>
                    <controller_action_predispatch_remember_handler>
                        <class>remember/observer</class>
                        <method>autoLogin</method>
                    </controller_action_predispatch_remember_handler>
                </observers>
            </controller_action_predispatch>
        </events>

    </global>

    <frontend>
        <routers>
            <remember>
                <use>standard</use>
                <args>
                    <module>Magendoo_Remember</module>
                    <frontName>remember</frontName>
                </args>
            </remember>
        </routers>
        <layout>
            <updates>
                <remember>
                    <file>magendoo/remember.xml</file>
                </remember>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magendoo_Remember>
                    <files>
                        <default>Magendoo_Remember.csv</default>
                    </files>
                </Magendoo_Remember>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <Magendoo_Remember>
                    <files>
                        <default>Magendoo_Remember.csv</default>
                    </files>
                </Magendoo_Remember>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <remember>
            <options>
                <enabled>0</enabled>
                <!--<lifetime>31536000</lifetime>--><!-- one year -->
                <lifetime>2592000</lifetime> <!-- 30 days -->
                <remember_default>0</remember_default>
                <remember_clear_old>1</remember_clear_old>
            </options>
        </remember>
    </default>

</config>
